<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="App">
            <directory>./src/App/test</directory>
        </testsuite>
        <testsuite name="Util">
            <directory>./core/lib/util/test</directory>
        </testsuite>
    </testsuites>
</phpunit>